In [1]:
from seismicio.Models.SuDataModel import SuFile
from seismicio import readsu
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.use("TkAgg")

In [2]:
path = "/storage1/Seismic/dados_teste/marmousi_4ms_CS.su"
sufile = readsu(path, "ep")

In [11]:
sufile.igather[200:201].headers["gx"]

array([5425, 5450, 5475, 5500, 5525, 5550, 5575, 5600, 5625, 5650, 5675,
       5700, 5725, 5750, 5775, 5800, 5825, 5850, 5875, 5900, 5925, 5950,
       5975, 6000, 6025, 6050, 6075, 6100, 6125, 6150, 6175, 6200, 6225,
       6250, 6275, 6300, 6325, 6350, 6375, 6400, 6425, 6450, 6475, 6500,
       6525, 6550, 6575, 6600, 6625, 6650, 6675, 6700, 6725, 6750, 6775,
       6800, 6825, 6850, 6875, 6900, 6925, 6950, 6975, 7000, 7025, 7050,
       7075, 7100, 7125, 7150, 7175, 7200, 7225, 7250, 7275, 7300, 7325,
       7350, 7375, 7400, 7425, 7450, 7475, 7500, 7525, 7550, 7575, 7600,
       7625, 7650, 7675, 7700, 7725, 7750, 7775, 7800, 5450, 5475, 5500,
       5525, 5550, 5575, 5600, 5625, 5650, 5675, 5700, 5725, 5750, 5775,
       5800, 5825, 5850, 5875, 5900, 5925, 5950, 5975, 6000, 6025, 6050,
       6075, 6100, 6125, 6150, 6175, 6200, 6225, 6250, 6275, 6300, 6325,
       6350, 6375, 6400, 6425, 6450, 6475, 6500, 6525, 6550, 6575, 6600,
       6625, 6650, 6675, 6700, 6725, 6750, 6775, 6800, 6825, 6850, 6875,
       6900, 6925, 6950, 6975, 7000, 7025, 7050, 7075, 7100, 7125, 7150,
       7175, 7200, 7225, 7250, 7275, 7300, 7325, 7350, 7375, 7400, 7425,
       7450, 7475, 7500, 7525, 7550, 7575, 7600, 7625, 7650, 7675, 7700,
       7725, 7750, 7775, 7800, 7825], dtype=int32)

In [14]:
sufile.igather[0].data.shape

(723, 96)

In [13]:
gather_indices = sufile.gather_indices_df
gather_indices

     start   stop
1        0     96
2       96    192
3      192    288
4      288    384
5      384    480
..     ...    ...
236  22560  22656
237  22656  22752
238  22752  22848
239  22848  22944
240  22944  23040

[240 rows x 2 columns]

In [26]:
sufile.traces.shape[1]

23040

In [7]:
type(gather_indices.iat)

pandas.core.indexing._iAtIndexer

In [5]:
type(gather_indices.loc)

pandas.core.indexing._LocIndexer

In [5]:
gather_value = 240

start_index = gather_indices["start"].at[gather_value]
stop_index = gather_indices["stop"].at[gather_value]
print(start_index)
print(stop_index)

22944
23040

In [9]:
start_index = gather_indices["start"]

In [42]:
# https://pandas.pydata.org/docs/reference/api/pandas.Index.html
type(gather_indices.index)
gather_indices.index.get_loc(240)

239

In [41]:
gather_indices.index.get_loc(240)

239

In [32]:
gather_indices.loc[240]

start    22944
end      23040
Name: 240, dtype: int64

In [19]:
# `Series.at` Access a single value by label
print(type(gather_indices.iloc[20]))

gather_indices.iloc[20].name

<class 'pandas.core.series.Series'>

21

In [5]:
# Series.iat Access a single value by integer position
gather_indices["start"].iat[3]

288

In [3]:
sufile.gather[200].headers["gx"]

key type <class 'int'>

array([5400, 5425, 5450, 5475, 5500, 5525, 5550, 5575, 5600, 5625, 5650,
       5675, 5700, 5725, 5750, 5775, 5800, 5825, 5850, 5875, 5900, 5925,
       5950, 5975, 6000, 6025, 6050, 6075, 6100, 6125, 6150, 6175, 6200,
       6225, 6250, 6275, 6300, 6325, 6350, 6375, 6400, 6425, 6450, 6475,
       6500, 6525, 6550, 6575, 6600, 6625, 6650, 6675, 6700, 6725, 6750,
       6775, 6800, 6825, 6850, 6875, 6900, 6925, 6950, 6975, 7000, 7025,
       7050, 7075, 7100, 7125, 7150, 7175, 7200, 7225, 7250, 7275, 7300,
       7325, 7350, 7375, 7400, 7425, 7450, 7475, 7500, 7525, 7550, 7575,
       7600, 7625, 7650, 7675, 7700, 7725, 7750, 7775], dtype=int32)

In [5]:
fig, ax = plt.subplots()

ax.plot(sufile.igather[200].headers["gx"], 'k.')
plt.show()

In [4]:
a = [11, 22, 33, 44]
a[1:2]

[22]

In [4]:
# importlib

fig, ax = plt.subplots()

# gather_data = sufile.traces_from_gather_value(200)

data = sufile.gather[1:2].data

# sufile.traces_from_gather_index(200)

ax.imshow(data, aspect="auto")

# gather_offsets = sufile.headers_from_gather_value(200, "offset")
# ax.plot(gather_offsets, 'k.')

plt.show()

key type <class 'slice'>